.slideContainer{
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.picContainer{
    padding: 0rem;
    -webkit-box-shadow: 10px 10px 22px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px -11px rgba(0,0,0,0.75);
    background-color: white;
}
.pic{
    width: 100%;
    max-width: 500px;
    display: block;
}

#root > div > div > div {
    left: 0px !important;;
}

.backAnim{
    position: absolute;
    left:0;
    bottom: 0;
    height: 45%;
    width: 100vw;
}
